  <!-- Footer -->
  <footer>
    <div class="container">

      <div class="row">
        <div class="col-12">
          <ul class="footer__icons">
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Audio and Subtitles</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Media Center</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Privacy</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Audio Description</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Investor Relations</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Legal Notices</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Help Center</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Jobs</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Cookie Preferences</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Gift Cards</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Terms of Use</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Corporate Information</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <p class="col-12">
          © 1997-<span class="current_year"></span> Netflix, Auda's version.
        </p>
      </div>
    </div>
  </footer>
  <!-- Footer -->

  <!-- To Top -->
  <a id="back2Top" title="Back to top" href="#"><i class="fas fa-arrow-up"></i></a>
  <!-- To Top -->
  
  <!-- JQuery Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

  <!-- Swiper -->
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

  <!-- plyr -->
  <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>

  <!-- Scripts -->
  <script src="assets/js/main.js"></script>
  
</body>
</html>