<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <!-- Responsive meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Meta Tags-->
  <meta name="robots" content="index, follow" />

  <meta property="og:title" content="Netflix Auda's Clone"/>
  <meta property="og:image" content="assets/images/netflix_full.svg"/>
  <meta name="og:locale" content="en_US">
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Netflix Auda's Clone"/>
  <meta property="og:url" content="Netflix Auda's Clone.com">
  <meta property="og:description" content="Netflix Auda's Clone"/>

  <meta property="website:section" content="">
  <meta property="website:publisher" content="">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@Netflix Auda's Clone">
  <meta name="twitter:image" content="assets/images/netflix_full.svg">
  <meta name="twitter:title" content="Netflix Auda's Clone">
  <meta name="twitter:description" content="Netflix Auda's Clone">

  <meta name="description" content="Netflix Auda's Clone">
  <meta name="keywords" content="Netflix Auda's Clone"/>
  <meta name="author" content="Netflix Auda's Clone">
  <meta name="copyright" content="Netflix Auda's Clone" />
