  <!--Website icon-->
  <link rel="icon" type="image/x-icon" href="assets/images/netflix_ico.ico"/>

  <!-- Bootstrap CSS -->
  <link id="changeBootstrapCss" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

  <!-- Fontawesome file and fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">

  <!-- Swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

  <!-- plyr -->
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css" />

  <!-- CSS own style files -->
  <link rel="stylesheet" href="assets/css/style.css">

</head>